<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://skitel.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>skitel.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Skitel</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>RinatOktaevich</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AzureSkitel" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:rinatdata.database.windows.net,1433;Initial Catalog=DtConnnectSkitel;Persist Security Info=False;User ID=Rinat;Password=Imaxjen1682;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:rinatdata.database.windows.net,1433;Initial Catalog=DtConnnectSkitel;Persist Security Info=False;User ID=Rinat;Password=Imaxjen1682;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WebAPI_Finder_Test.Models.ApplicationDbContext, WebAPI_Finder_Test" MigrationConfiguration="WebAPI_Finder_Test.Migrations.Configuration, WebAPI_Finder_Test" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:rinatdata.database.windows.net,1433;Initial Catalog=DtConnnectSkitel;Persist Security Info=False;User ID=Rinat;Password=Imaxjen1682;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:rinatdata.database.windows.net,1433;Initial Catalog=DtConnnectSkitel;Persist Security Info=False;User ID=Rinat;Password=Imaxjen1682;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebAPI_Finder_Test-20180118092554.mdf;Initial Catalog=aspnet-WebAPI_Finder_Test-20180118092554;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebAPI_Finder_Test-20180118092554.mdf;Initial Catalog=aspnet-WebAPI_Finder_Test-20180118092554;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DtConnnectLocal" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:rinatdata.database.windows.net,1433;Initial Catalog=DtConnnectSkitel;Persist Security Info=False;User ID=Rinat;Password=Imaxjen1682;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:rinatdata.database.windows.net,1433;Initial Catalog=DtConnnectSkitel;Persist Security Info=False;User ID=Rinat;Password=Imaxjen1682;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DtConnnectLocal.mdf;Initial Catalog=DtConnnectLocal;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DtConnnectLocal_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DtConnnectLocal.mdf;Initial Catalog=DtConnnectLocal;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DtConnnect" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:rinatdata.database.windows.net,1433;Initial Catalog=DtConnnectSkitel;Persist Security Info=False;User ID=Rinat;Password=Imaxjen1682;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:rinatdata.database.windows.net,1433;Initial Catalog=DtConnnectSkitel;Persist Security Info=False;User ID=Rinat;Password=Imaxjen1682;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=DtConnnect;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DtConnnect_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=DtConnnect;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureSkitel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:rinatdata.database.windows.net,1433;Initial Catalog=DtConnnectSkitel;Persist Security Info=False;User ID=Rinat;Password=Imaxjen1682;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:rinatdata.database.windows.net,1433;Initial Catalog=DtConnnectSkitel;Persist Security Info=False;User ID=Rinat;Password=Imaxjen1682;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DtConnnect-Web.config Connection String">
      <ParameterValue>Data Source=tcp:rinatdata.database.windows.net,1433;Initial Catalog=DtConnnectSkitel;Persist Security Info=False;User ID=Rinat;Password=Imaxjen1682;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DtConnnectLocal-Web.config Connection String">
      <ParameterValue>Data Source=tcp:rinatdata.database.windows.net,1433;Initial Catalog=DtConnnectSkitel;Persist Security Info=False;User ID=Rinat;Password=Imaxjen1682;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>